*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    font-family: 'rubik', sans-serif;
    background: #fafafa;
}

.card{
    position: relative;
    width: 380px;
    height: min-content;
    padding: 25px;
    background: #ffffffff;
    border: 2px solid #e1e3e6;
    border-radius: 20px;
    transition: .4s;
}

.card:hover{
    border-color: #ffffffff;
    transform: translateY(-10px);
    box-shadow: 0 5px 12px rgba(0, 0, 0, .80);
}

.card .card-header h3 {
    color: #404d61;
    font-size: 28px;
}

.card .card-header p {
    color: #757d8a;
    font-size: 20px;
}

.card .card-img {
    position: relative;
    height: 220px;
    border-radius: 12px;
    margin: 22px 0;
    overflow: hidden;
}

.card .card-img img {
    width: 100%;
    height: 100%;
    transition: .4s;
}

.card:hover .card-img img {
    transform: scale(1.06);
}

.card .card-img i {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 12px;
    color: #757d8a;
    background: #ffffffff;
    padding: 6px;
    border-radius: 6px;
}

.card .card-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card .card-details .price p {
    color: #757d8a;
    font-size: 20px;
    
}

.card .card-details .price strong {
    color: #545d6d;
    font-size: 22px;
    
}

.card .card-footer button {
    cursor: pointer;
    width: 100%;
    height: 46px;
    border-radius: 12px;
    background: linear-gradient(#af9eff, #6E5AE2);
}

.card1{
    position: relative;
    width: 380px;
    height: min-content;
    padding: 25px;
    background: #ffffffff;
    border: 2px solid #e1e3e6;
    border-radius: 20px;
    transition: .4s;
}

.card1:hover{
    border-color: #ffffffff;
    transform: translateY(-10px);
    box-shadow: 0 5px 12px rgba(0, 0, 0, .80);
}

.card1 .card-header1 h3 {
    color: #404d61;
    font-size: 28px;
}

.card1 .card-header1 p {
    color: #757d8a;
    font-size: 20px;
}

.card1 .card-img1 {
    position: relative;
    height: 220px;
    border-radius: 12px;
    margin: 22px 0;
    overflow: hidden;
}

.card1 .card-img1 img {
    width: 100%;
    height: 100%;
    transition: .4s;
}

.card1:hover .card-img1 img {
    transform: scale(1.06);
}

.card1 .card-img1 i {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 12px;
    color: #757d8a;
    background: #ffffffff;
    padding: 6px;
    border-radius: 6px;
}

.card1 .card-details1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card1 .card-details1 .price1 p {
    color: #757d8a;
    font-size: 20px;
    
}

.card1 .card-details1 .price1 strong {
    color: #545d6d;
    font-size: 22px;
    
}

.card1 .card-footer1 button {
    cursor: pointer;
    width: 100%;
    height: 46px;
    border-radius: 12px;
    background: linear-gradient(#af9eff, #6E5AE2);
}

